<div class="login-container">
  <div class="login-form">
    <form>
      <h1 style="text-align: center">CityPal</h1>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" [(ngModel)]="name" name="password" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" />
      </div>
      <div class="form-group">
        <label>City</label>

        <select [(ngModel)]="selectedCity" name="cities" id="cities">
          <option value="{{ city.id }}" *ngFor="let city of cities$ | async" [ngValue]="city">
            {{ city.name }}
          </option>
        </select>
      </div>
      <br />
      <br />
      <br />
      <div class="button-group">
        <button class="btn btn-primary" (click)="register()">Register</button>
        <button class="btn btn-secondary" (click)="redirectToLogin()">Login instead</button>
      </div>
    </form>
  </div>
</div>
