<div class="review">
  <h2>
    <span class="link" (click)="redirectToPlace(place!.id)">{{ place?.name }}</span> (Average
    rating: {{ place?.rating }})
  </h2>
  <h3>
    Rated by: <span class="link" (click)="redirectToProfile(person!.id)"> {{ person?.name }}</span>
  </h3>
  <ng-container *ngIf="!isPressed">
    <h3>User rating: {{ review.rating }}</h3>
    <p>{{ review.comment }}</p>
  </ng-container>
  <ng-container *ngIf="this.viewer.id == this.person?.id">
    <ng-container *ngIf="isPressed">
      <div class="edit-form">
        <label>New rating</label>
        <input
          type="number"
          min="0"
          max="5"
          step="1"
          [value]="review.rating"
          [(ngModel)]="review.rating"
        />
        <label>New comment</label>
        <textarea [(ngModel)]="review.comment">{{ review.comment }}</textarea>
        <button class="btn btn-secondary" (click)="editReview()">Apply changes</button>
      </div>
    </ng-container>
    <div class="button-group">
      <button class="btn btn-secondary" (click)="isPressed = !isPressed">Edit</button>
      <ng-container *ngIf="this.reviewsService.reviews$ | async as reviews">
        <button class="btn btn-delete" (click)="deleteReview(reviews)">Delete</button>
      </ng-container>
    </div>
  </ng-container>
</div>
