<ng-container *ngIf="this.usersFriends$ | async as usersFriends">
  <ng-container *ngIf="this.user$ | async as user">
    <ng-container *ngIf="this.person$ | async as person">
      <ng-container>
        <h1>{{ person.name }}</h1>
      </ng-container>
      <ng-container *ngIf="this.personsReviews$ | async as reviews">
        <app-reviews [reviews]="reviews" [person]="person" [viewer]="user"> </app-reviews>
      </ng-container>
      <ng-container *ngIf="user.id !== person.id; else isUser">
        <button
          type="button"
          *ngIf="!isFriend(person.id, usersFriends); else isntFriend"
          (click)="addFriend(user.id, person.id)"
        >
          Add friend
        </button>
        <ng-template #isntFriend>
          <button type="button" (click)="removeFriend(user.id, person.id)">Remove friend</button>
        </ng-template>
      </ng-container>
      <ng-template #isUser> </ng-template>
    </ng-container>
  </ng-container>
</ng-container>
