<ng-container *ngFor="let filter of filters">
  <input type="checkbox" id="{{ filter }}" name="filters" (change)="addFilter($event, filter)" />
  <label for="{{ filter }}">{{ filter }}</label>
</ng-container>

<h1 *ngIf="this.placesSearchResults$ | async as placesResults">
  Places
  <div class="places">
    <app-place-card *ngFor="let place of placesResults" [place]="place"></app-place-card>
  </div>
</h1>

<h1 *ngIf="this.personsSearchResults$ | async as personsResults">
  Persons
  <div class="persons">
    <h6 class="link" *ngFor="let person of personsResults">
      <!-- {{ person | json }} -->
      <span (click)="redirectToPerson(person.id)">
        {{ person.name }}
      </span>
    </h6>
  </div>
</h1>
