<ng-container *ngFor="let filter of filters">
  <input type="checkbox" id="{{ filter }}" name="filters" (change)="addFilter($event, filter)" />
  <label for="{{ filter }}">{{ filter }}</label>
</ng-container>

<h1 *ngIf="this.placesSearchResults$ | async as placesResults">
  Places
  <h3 *ngFor="let place of placesResults">
    {{ place | json }}
    >
  </h3>
</h1>

<h1 *ngIf="this.personsSearchResults$ | async as personsResults">
  Persons
  <h3 *ngFor="let person of personsResults">
    {{ person | json }}
    >
  </h3>
</h1>
