<ng-container *ngIf="this.user$ | async as user">
  <div>
    <div class="navbar">
      <button class="navbar-left" (click)="redirectHome()">
        <h1 class="navbar-header">CityPal</h1>
      </button>
      <div class="navbar-center">
        <input type="text" class="navbar-search" placeholder="Search..." />
      </div>
      <div class="navbar-right">
        <button class="btn" (click)="redirectToProfile(user.id)">Profile</button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</ng-container>
