<ng-container *ngIf="this.user$ | async as user">
  <div>
    <div class="navbar">
      <div class="navbar-left header-button" (click)="redirectHome()">
        <h1 class="navbar-header">CityPal</h1>
      </div>
      <div class="navbar-center">
        <input
          #searchInput
          (keyup)="this.subject.next($any($event).target.value)"
          class="navbar-search"
          matInput
          placeholder="Search for places and persons..."
          type="text"
        />
        <button type="button" (click)="redirectToSearch()">Search</button>
      </div>
      <div class="navbar-right">
        <button class="btn" (click)="redirectToProfile(user.id)">Profile</button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</ng-container>
